<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/thankyou.jpg') }}" alt="Thank You" class="center-image">
        <h1>Thank you for Registering</h1>
        <nav>
            <a href="{{ url_for('andromeda_signin') }}">Login?</a>
        </nav>
    </div>
</body>
</html>